<div  style="margin: 30px"></div>
<table class="table stormpath-login-table">
    <thead>
    <tr>
        <th class="login-form">
            Sign up or <a class="register-link" href="#/login">Log in</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="login-form">
            <form role="form" ng-controller="signupController" ng-submit="submitForm()">
                <div class="form-group">
                    <label for="stormpathFirstName">First Name</label>
                    <input type="text" class="form-control input-lg" id="stormpathFirstName" placeholder="Enter first name" ng-model="formData.firstName">
                </div>
                <div class="form-group">
                    <label for="stormpathLastName">Last Name</label>
                    <input type="text" class="form-control input-lg" id="stormpathLastName" placeholder="Enter last name"  ng-model="formData.lastName">
                </div>
                <div class="form-group">
                    <label for="stormpathEmail">Email</label>
                    <input type="text" class="form-control input-lg" id="stormpathEmail" placeholder="Enter email" ng-model="formData.email">
                </div>
                <div class="form-group">
                    <label for="stormpathPassword">Password</label>
                    <input type="password" name="password" class="form-control input-lg" id="stormpathPassword" placeholder="Password" ng-model="formData.password">
                </div>
                <div class="row">
                    <button type="button" class="btn btn-log-in" ng-click="submitForm()">Sign Up</button>
                </div>
            </form>
        </td>
    </tr>
    </tbody>
</table>