<!DOCTYPE html>
<html ng-app="loginForm">
<head>
    <title>My Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
    <script src="bower_components/angular-base64/angular-base64.js"></script>
    <script src ="app.js"></script>
</head>
<body>

<div class = "key" ng-controller="ApiKeyController">
    Your API key:secret pair is = {{apiKey}} : {{apiSecret}} <br/>
</div>

Select your city to make a REST API call and find out the weather!

<form name = "myForm" ng-controller="RestController">
    <input type="radio" ng-model="city" value="London"> London <br/>
    <input type="radio" ng-model="city" value="Berlin"> Berlin <br/>
    <button ng-click="makeRestCall()">Make Rest Call</button>
    The temperature in {{myCity}} is: {{temp}} </br>
</form>


</body>
</html>