<!DOCTYPE html>
<html ng-app="loginForm">
<head>
    <title>My Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src ="app.js"></script>
</head>
<body>

<div class = "key" ng-controller="ApiKeyController">
    Your API key:secret pair is = {{apiKey}} : {{apiSecret}} <br>
</div>
************************************************************
<br>
Select a city to make a REST API call using Basic Authentication and find out the weather!

<form name = "myForm" ng-controller="RestBasicController">
    <input type="radio" ng-model="city" value="London"> London <br/>
    <input type="radio" ng-model="city" value="Berlin"> Berlin <br/>
    <button ng-click="makeRestCall()">Make Rest Call</button>
    The temperature in {{myCity}} is: {{temp}} </br>
</form>

***************************************************** <br>

<div class = "getOauthToken" ng-controller="OauthTokenController">
    Click GetOauth to get an Oauth Bearer Token: <br> {{oauthToken}} <br>
    <button ng-click="getOauthToken()">GetOauth</button>
</div>

<br>
*******************************************************
<br>
Select a city to make a REST API call using Oauth and find out the weather!

<form name = "myForm2" ng-controller="RestOauthController">
    <input type="radio" ng-model="city" value="London"> London <br/>
    <input type="radio" ng-model="city" value="Berlin"> Berlin <br/>
    <button ng-click="makeRestCall()">Make Rest Call</button>
    The temperature in {{myCity}} is: {{temp}} </br>
</form>


</body>
</html>